@import '../../style/fonts';

.Tag{
    display: inline-block;

    padding: 4px 8px;
    border-radius: 4px;

    @include font-text-2;

    &-top{
        background-color: #893CA9;
    }

    &-bonus{
        background-color: #63BF1A;
    }
}